body,html{padding:0;margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif}a{color:inherit;text-decoration:none}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/*
     FILE ARCHIVED ON 18:48:38 Jul 23, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:21:07 Dec 07, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 80.401
  exclusion.robots: 0.108
  exclusion.robots.policy: 0.096
  RedisCDXSource: 1.402
  esindex: 0.01
  LoadShardBlock: 59.736 (3)
  PetaboxLoader3.datanode: 112.883 (4)
  CDXLines.iter: 16.638 (3)
  load_resource: 142.843
  PetaboxLoader3.resolve: 73.001
*/